<h1>Hello {{name}}</h1>

<h2>Welcome to {{company}}</h2>

<img [src]="imgUrl" height="200px">

<input [type]="inpType">

<button (click)="printData()">Click</button>

<div class="circle" [class.available]="isAvailable"></div>

<app-product [pname] ="'Samsung M51'" [imgUrl]="'https://images.samsung.com/is/image/samsung/levant-feature-comfortable-design-that-shines-296950730?$FB_TYPE_A_JPG$'"/> 
<app-product [pname] ="'Iphone 14'" [imgUrl]="'https://m.media-amazon.com/images/I/61bK6PMOC3L._SL1500_.jpg'"/> 
<app-product [pname] ="'Redmi-Note13'" [imgUrl]="'https://m.media-amazon.com/images/I/41ZlnmlOM-L._SX300_SY300_QL70_FMwebp_.jpg'"/> 
  <!-- passing data to child component -->

<app-category />